* {
    margin: 0;
    padding: 0;
}

html, body {
    height: 100%;
}

body {
    background-color: white;
    font-size: 14px;
    font-family: helvetica, arial, clean, sans-serif;
    text-align: center;
}

p {
    margin: 1em 0;
}

table {
    font-size: 100%;
}

.site {
    font-size: 110%;
    text-align: justify;
    width: 50em;
    margin: 0 auto 2em auto;
    line-height: 1.5em;
}

#title {
    margin: 0 auto;
    padding-top: 30px;
    text-align: center;
}

#title a {
    font-size: 45px;
    text-decoration: none;
    color: black;
}

#title .text {
    margin-top: 5px;
    font-size: 18px;
}

#logo {
    position: relative;
    top: -25px;
    margin: 0 auto;
    width: 66px;
    height: 42px;
    background: url("../images/logo.png") no-repeat center center;
}

.site .menu {
    height: 20px;
    text-align: center;
    margin: 10px auto 0;
}

.site .menu .spacer {
    display: inline-block;
    width: 100px;
}

.site .menu a {
    display: inline-block;
    color: black;
    text-decoration: none;
    margin: 2px;
    font-weight: bold;
    vertical-align: middle;
}

.site .menu a:before {
    color: white;
    border: 0;
    content: "{";
}

.site .menu a:after {
    color: white;
    border: 0;
    content: "}";
}

.site .menu a:hover:before {
    color: black;
}

.site .menu a:hover:after {
    color: black;
}

.site .menu a:hover {
    color: #ff6600;
}

.site .footer {
    font-size: 80%;
    color: #666;
    border-top: 4px solid #eee;
    margin-top: 2em;
    text-align: center;
}

#clear {
    clear: both;
}

#rss {
    float: right;
    display: block;
    width: 16px;
    height: 16px;
    margin-top: 1em;
    background-image: url("/images/rss.png");
}

.title {
    font-weight: bold;
    font-size: 1.2em;

}

.title a {
    color: black;
    text-decoration: none;

}

.title a:hover {
    color: #1122cc;
    text-decoration: underline;

}

.title .date {
    font-weight: normal;
    color: #aaaaaa;
}

.entry {
    margin-bottom: 10px;
}

.ending {
    border: 0;
    height: 1px;
    width: 50%;
    margin: 0 auto 30px;
    background-image: -webkit-linear-gradient(left, rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.75), rgba(0, 0, 0, 0));
    background-image: -moz-linear-gradient(left, rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.75), rgba(0, 0, 0, 0));
    background-image: -ms-linear-gradient(left, rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.75), rgba(0, 0, 0, 0));
    background-image: -o-linear-gradient(left, rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.75), rgba(0, 0, 0, 0));
}

.tagdate {
    padding-right: 10px;
}

ul {
    margin-left: 20px;
}

ol {
    margin-left: 20px;
}